name: VitestTestsCheck

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches: [master]

jobs:
  vitest:
    name: Vitest
    runs-on: ubuntu-latest
    timeout-minutes: 4
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: wyvox/action-setup-pnpm@v3
        with:
          node-version: "20.1.0"

      - name: Install Glint env deps
        run: cd glint-environment-gxt && pnpm install && cd ..

      - name: Run tests with coverage
        run: pnpm run test:coverage

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: vitest-coverage
          path: ./coverage/vitest/coverage-final.json
          retention-days: 1
